In [1]:
import pandas as pd
import numpy as np
import os
import re

from src.process_data import fetch_data,process_data

In [2]:
proj_root = '/home/elijahc/dev/ml_ripc'
rel_fp = os.path.join(proj_root,'data','ripc_rel.csv')
print(rel_fp)
rel_df = process_data(rel_fp)

/home/elijahc/dev/ml_ripc/data/ripc_rel.csv
loading.../home/elijahc/dev/ml_ripc/data/ripc_rel.csv

restructuring to longform...
(this may take a while)

In [3]:
rel_df.head()

,Name,Formula,Molecular Weight,variable,value,timepoint,pt
0,Oxaloacetic acid,C4 H4 O5,132.00541,1A,7098073.806,A,1
1,Oxaloacetic acid,C4 H4 O5,132.00594,1A,7094510.558,A,1
2,Citric acid,C6 H8 O7,192.02667,1A,7254128.958,A,1
3,Dimethylphosphinic fluoride,C2 H6 F O P,96.01339,1A,7090920.038,A,1
4,alpha-Ketoglutaric acid,C5 H6 O5,146.02116,1A,3528833.044,A,1

In [12]:
np.unique(rel_df.timepoint.as_matrix())

array([')', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B',
       'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L'], dtype=object)

In [4]:
pd.to_pickle(rel_df,os.path.join(proj_root,'data','ripc_rel_quant.df'))